.first-page {
    background: url("../images/Layer5.png");
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-around;
    background: rgba(94, 93, 88, 0.6);
    height: 120px;
}

.header-logo {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.header-logo-background {
    margin-top: 25px;
    width: 58px;
    height: 67px
}

.header-logo-H {
    position: absolute;
    top: 33px;
    left: 13px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
}

.header-logo-text {
    padding: 36px 6px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
}

.header_logo_text_span {
    font-weight: 800;
    color: #18CFAB;
}

.header-list {
    display: flex;
    padding-top: 50px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.header-list-item {
    padding-right: 21px;
}

.header-list-link {
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    padding-bottom: 47px;
}

.header-list-link:hover {
    color: #18CFAB;
    border-bottom: 2px solid #18cfab;
}

.h1 {
    margin-top: 264px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.first-page-h2 {
    margin-top: 22px;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 78px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.first-page-h3 {
    margin-top: 22px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    text-align: center;
    color: #D4D4D4;
}

.first-page-buttons {
    display: flex;
    justify-content: center;
    padding-top: 120px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    line-height: 70px;
    text-transform: uppercase;
    padding-bottom: 243px;
}

.explore-button {
    width: 169px;
    height: 63px;
    background: #18CFAB;
    color: #FFFFFF;
    border-top: 3px solid #FFFFFF;
    border-radius: 5px;
    margin-right: 13px;
}

.purchase-button {
    width: 169px;
    height: 63px;
    background: #00CBF6;
    color: #FFFFFF;
    border-top: 3px solid #FFFFFF;
    border-radius: 5px;
    margin-left: 13px;
}

.blocks-container {
    margin-top: 8px;
    width: 100%;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

.block1 {
    width: 25%;
    height: 377px;
    background: #1C2A33;
    color: #18CFAB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block2 {
    width: 25%;
    height: 377px;
    background: #18CFAB;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block_img {
    padding: 20px 70px;
}

.our-services-container {
    max-width: 1160px;
    width: 100%;
    margin: auto auto 91px;
}

.our-services-title {
    margin-top: 83px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    color: #4E4E4E;
}

.our-services-title:before {
    content: '';
    position: absolute;
    width: 76px;
    height: 1px;
    background: #18CFAB;
    top: 66px;
    left: 47%;
}

.our-services-title:after {
    content: '';
    position: absolute;
    width: 76px;
    height: 1px;
    background: #18CFAB;
    top: 70px;
    left: 50%;
}

.our-services-nav {
    margin-top: 101px;
    margin-bottom: 43px;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #717171;
}

.our-services-nav-item {
    width: 192px;
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
}

.our-services-nav-item:hover {
    border: 1.5px solid #18CFAB;
}

.our-services-nav-item.active {
    background: #18CFAB;
    color: #FFFFFF;
    position: relative;
}

.our-services-nav-item.active::after {
    content: "";
    position: absolute;
    border: 10px solid transparent;
    border-top-color: #18CFAB;
    bottom: -19px;
    left: 84px;
}

.our-services-content-item {
    display: none;
}

.our-services-content-item.active {
    display: flex;
    justify-content: center;
}

.our-services-image {
    width: 192px;
    height: 139px;
}

.our-services-text {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    padding-left: 20px;
}

.install-now {
    background: url("../images/Layer211.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

.install-now-title {
    padding-top: 126px;
    margin-bottom: 12px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    color: #18CFAB;
}

.install-now-subtitle {
    margin-bottom: 67px;
    font-weight: 400;
    font-size: 16px;
    color: #D8D8D8;
}

.install-now-button {
    background-color: #18CFAB;
    display: inline-block;
    width: 169px;
    height: 63px;
    border-radius: 5px;
    border-top: 3px solid #FFFFFF;
    font-weight: bold;
    font-size: 15px;
    line-height: 55px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 127px;
}

.our-works-background {
    background: #E9EDEF;
}

.our-works-container {
    max-width: 1160px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.our-woks-title {
    padding-top: 83px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #4E4E4E;
}

.our-woks-title:before {
    content: '';
    position: absolute;
    width: 76px;
    height: 1px;
    background: #18CFAB;
    top: 156px;
    left: 47%;
}

.our-woks-title:after {
    content: '';
    position: absolute;
    width: 76px;
    height: 1px;
    background: #18CFAB;
    top: 160px;
    left: 50%;
}

.our-works-nav {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 97px;
    padding-bottom: 71px;
    line-height: 70px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.our-works-nav-item {
    border: 1px solid #DADADA;
    width: 192px;
    height: 72px;
}

.our-works-nav-item.all {
    width: 100px;
    height: 72px;
}

.our-works-nav-item:hover {
    color: #18CFAB;
    border: 1px solid #18CFAB;
}

.hidden {
    display: none;
}

.our-works-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.our-works-item {
    position: relative;
}

.amazing_work_image {
    position: absolute;
    width: 285px;
    height: 211px;
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.amazing_image_description {
    text-align: center;
    width: 285px;
    height: 211px;
    border-top: 2px solid #18cfab;
}

.our-works-item:hover .amazing_work_image {
    opacity: 0;
    z-index: -1;
}

.photo_icons{
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.logo_work{
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;
    border: 1px solid #18cfab;
    border-radius: 50%;
}

.logo_work:hover{
    border-top-color: #18cfab;
    color: #E9EDEF;
    cursor: pointer;
}

.logo_icon {
    color: #18cfab;
}

.photo_text{
    display: block;
    text-align: center;
}

.image_text{
    margin-bottom: 7px;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
}

.image_text_small{
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;
}

.load-more-btn {
    display: inline-block;
    width: 169px;
    height: 63px;
    line-height: 65px;
    margin: 70px auto 100px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    border-radius: 5px;
    background: #18CFAB;
}

.breaking-news-container {
    max-width: 1160px;
    width: 100%;
    margin: auto
}

.breaking-news-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

.breaking-news-item {
    padding: 0 17px 75px 10px;
    position: relative;
}

.date {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 17px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;;
    padding: 10px 20px;
    background: #203E38;
}

.date-name {
    display: block;
    padding-top: 5px;
}

.news-name {
    position: relative;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #717171;
}

.news-name::after{
    content: 'By admin    |    2 comment';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    position: absolute;
    top: 30px;
    left: 37px;
    color: #777777;
}


.breaking-news-item:hover .date{
    background: #18CFAB;
    color: #FFFFFF;
}

.breaking-news-item:hover .news-name {
    color: #18CFAB;
}

.feedback-background {
    background-image: url("../images/Layer333.png");
    background-size: cover;
}

.feedback-container {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.feedback-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #FFFFFF;
    padding: 98px 0 158px;
    position: relative;
}

.feedback-title:before {
    content: '';
    position: absolute;
    width: 76px;
    height: 1px;
    background: #18CFAB;
    top: 166px;
    left: 47%;
}

.feedback-title:after {
    content: '';
    position: absolute;
    width: 76px;
    height: 1px;
    background: #18CFAB;
    top: 160px;
    left: 50%;
}

.feedback {
    display: none;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    position: relative;
}

.feedback::before {
    content: url("../images/Combined shape 2474.svg");
    position: absolute;
    top: -70px;
}

.feedback-text {
    font-weight: 300;
    font-size: 16px;
    color: #BBBBBB;
}

.name {
    color: #18CFAB;
    font-weight: 700;
    padding-top: 37px;
    text-transform: uppercase;
}

.job {
    color: #BBBBBB;
    font-size: 13px;
    font-weight: 300;
    padding: 30px 0 10px 0;
}

.feedback-img {
    border-radius: 50%;
    width: 142px;
    height: 142px;
    margin-top: 25px;
    box-shadow: 0 0 0 10px rgba(31, 218, 181, 0.2);
}

.feedback.feedback-active{
    display: flex;
}

.feedback-slider {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 60px;
    padding-bottom: 100px;
}

.feedback-slider-item-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid #BBBBBB;
}

.feedback-slider-item-arrow:hover {
    border: none;
    background-color: #18cfab;
}

.feedback-slider-item {
    border-radius: 50%;
    width: 72px;
    height: 72px;
    overflow: hidden;
    transition: all .3s;
    margin: 0 20px;
    box-shadow: 0 0 0 5px rgba(31, 218, 181, 0.2);
}

.slider-animation{
    transform: translateY(-10px);
    transition: all .3s;
}

.footer{
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    padding: 48px 0 ;
    color: #AEAEAE;
    background-color: #22353F; ;
}

.span-color{
    color: #18cfab;
}
